%h1
  Hotlinks
#hotlinks
  #header
    %p.name Name
    %p.asset File
    %p.createdBy Created By
    %p.expiry Expiry Date
  .clear
  - @hotlinks.each do |hotlink|
    .row
      %p.name
        = hotlink.link
      %p.asset
        - if hotlink.asset
          = hotlink.asset.folder.breadcrumbs + " / " unless hotlink.asset.folder.nil?
          = hotlink.asset.uploaded_file_file_name
        - else
          Asset not found
      %p.createdBy
        = hotlink.user.name
      %p.expiry{:title => hotlink.expiry_date}
        = hotlink.expiry_date ? hotlink.expiry_date.to_i < Time.now.to_i ? "#{(time_ago_in_words(hotlink.expiry_date))} ago" : "in #{(time_ago_in_words(hotlink.expiry_date))}" : "--"
      %p.actions
        = button_to 'Remove', hotlink_path(hotlink), :confirm => 'Are you sure?', :method => :delete, :class => 'button delete'
.clear