- content_for :page_specific_head do
  = javascript_include_tag 'jquery-1.6.1.min', 'jquery.colorbox-min', 'jquery.form', 'search', 'main-page' 
- content_for :contentClass do
  = 'fileBrowser'
#topBar
  #innerTopBar
    = form_tag '/search' do 
      = label :search, :query, 'Search:' 
      = text_field :search, :query, :value => @search_query 
      = label :search, :notes, 'Search in notes?: ' 
      = check_box :search, :notes, :checked => @searchNotes 
      = submit_tag 'Search', :class => 'button search' 
    .breadcrumbs
      - if @escaped_query 
        %p.searchResult
          Search for:
          = h @escaped_query
          - if @searchNotes 
            , include notes
      - else
        = render :partial => "breadcrumbs"
  #headers
    .mark-it
      = check_box :mark, :it
    .name
      Name
    .ext
      Ext
    .size
      Size
    .description
      Description
    .date
      Date
%ul#file-container
  - if @current_folder or @search_query 
    %li.row-container.upFolder
      .mark-it
        != "&nbsp;"
      .name
        - if @search_query or @current_folder.parent_id.nil? 
          = link_to '[..]', root_path 
        - else 
          = link_to '[..]', browse_path(@current_folder.parent)
      .ext
        != "&nbsp;"
      .size
        != "&lt;DIR&gt;"
      .clear
  - @folders.each do |folder| 
    %li.row-container.folder
      .mark-it
        = check_box :directory, folder.id, :class=>'folderTick tick' 
        - if @canHome || (@current_folder && @current_folder.candelete?(@current_user)) 
          = form_for folder, :html => { :method => 'delete' } do end
      .name
        = link_to 'Details', folder_details_path(folder), :class=>"details #{folder.is_shared? ? 'shared' : '' }"
        - if @search_query 
          = link_to h(folder.breadcrumbs), browse_path(folder) 
        - else 
          = link_to h(folder.name), browse_path(folder)
      .ext
        != "&nbsp;"
      .size
        != "&lt;DIR&gt;"
      .description
        = truncate(folder.description, :length=>65) 
        != "&nbsp;"
      .date
        = h folder.created_at.strftime("%d/%m/%Y %H:%M:%S")
      .clear
  - unless @assets.nil? 
    - for asset in @assets 
      %li.row-container
        .mark-it
          = check_box :file, asset.id, :class=>'fileTick tick'
          - if @canHome || (@current_folder && @current_folder.candelete?(@current_user))
            = form_for asset, :html => { :method => 'delete' } do end
        .name
          = link_to 'Details', asset_details_path(asset), :class => "details "+ asset.file_extension[1..-1]+"FileType"
          - if @search_query 
            - if asset.folder 
              = link_to h(asset.folder.breadcrumbs+"/"+asset.uploaded_file_file_name), download_asset_path(asset) 
            - else 
              = link_to h(asset.uploaded_file_file_name), download_asset_path(asset) 
          - else 
            = link_to h(asset.uploaded_file_file_name), download_asset_path(asset) 
        .ext
          = h asset.file_extension
        .size
          = number_to_human_size(asset.uploaded_file_file_size, :precision => 3)
        .description
          = h asset.description
          != "&nbsp;"
        .date
          = h asset.created_at.strftime("%d/%m/%Y %H:%M:%S")
        .clear
#overlay