- content_for :page_specific_head do
  = javascript_include_tag 'application'

%h1
  = @group.name

%h2 Users
= link_to 'Add User', new_group_userGroup_path(@group), :class => 'button new colorbox searchUsersGroups'

%ul.listWithDelete
  - for userGroup in @group.user_groups
    %li
      = link_to userGroup.user.name, userGroup.user
      = button_to 'Remove', group_userGroup_path(userGroup), :confirm => 'Are you sure?', :method => :delete, :class => 'button delete'

.clear

%h2 Folders
%ul
  - for folder in @group.folders
    %li
      =link_to folder.breadcrumbs, folder

.clear

.actions
  = link_to "Rename", edit_group_path(@group), :class => 'button edit'
  = button_to "Delete", @group, :confirm => 'Are you sure?', :method => :delete, :class => 'button delete'
  = link_to "Back to Groups", groups_path, :class => 'button back'

.clear