#userGroupSearch.border
  
  = form_tag user_search_path, :method => 'POST', :id=>'userGroupSearchForm' do
  
    = label_tag "query", "Filter: "
    = text_field_tag "query", nil, :autocomplete => "off"
    
    = hidden_field_tag "max_users", "10"
    
    = label_tag "all", "All users: "
    = radio_button_tag "active", "all",true, :id=>"all"
    = label_tag "active", "Active users: "
    = radio_button_tag "active", "true",false, :id=>"active"
    = label_tag "inactive", "Inactive users: "
    = radio_button_tag "active", "false",false, :id=>"inactive"
    
    = submit_tag 'Search', :id=> 'searchButton', :class => 'button search'
  
  #searchResult
  .clear
.clear