#logon-box
  .logon-box-padder
    #logon-tabs
      %ul
        %li
          = link_to "Log in", log_in_path
        %li
          = link_to "Sign up", sign_up_path
        %li
          = link_to "Reset Password", reset_password_path
        %li
          = link_to 'Help', '/documents/help.pdf'
    .clear
    #logon-main
      #logo_holder
        = render :partial=>'/shared/logo'
      #form-holder
        %h2 Reset Password
        = form_tag update_password_path do
          .field
            = label_tag 'email address: '
            = text_field_tag 'email'
          .clear
          = submit_tag 'Submit', :class => 'button login'
          .clear
          %p.error
            - flash.each do |name, msg|
              = msg
      .clear