%h1 Reset Password
= form_tag update_password_path do
  %p Please enter your e-mail address to get a new password
  %p.error
    - flash.each do |name, msg|
      = msg
  = label_tag 'email address: '
  = text_field_tag 'email'
  .clear
  = submit_tag 'Submit', :class => 'button login'
  .clear