= form_tag update_password_path do
  %p
    = label_tag :email, 'Email Address: '
    = text_field_tag :email
  %p
    = submit_tag 'Submit', :class => 'button login'
  %p.error
    - flash.each do |name, msg|
      = msg