%h2 Reset Password
= form_tag update_password_path do
  .field
    = label_tag 'email address: '
    = text_field_tag 'email'
  .clear
  = submit_tag 'Submit', :class => 'button login'
  .clear
  %p.error
    - flash.each do |name, msg|
      = msg