#logon-box
  .logon-box-padder
    #logon-tabs
      %ul
        %li
          = link_to "Log in", log_in_path
        %li
          = link_to "Sign up", sign_up_path
        %li
          = link_to "Reset Password", reset_password_path
        %li
          = link_to 'Help', '/documents/help.pdf'
    .clear
    #logon-main
      #register-form-holder
        #logo-holder
          = render :partial=>'/shared/logo'
        %h2 Reset Password
        = form_tag update_password_path do
          %p Please enter your e-mail address to get a new password
          = label_tag 'email address: '
          = text_field_tag 'email'
          .clear
          = submit_tag 'Submit', :class => 'button login'
          .clear
          %p.error
            - flash.each do |name, msg|
              = msg