%h2 User Details
%p
  %strong
    Name:
  = @user.name
%p
  %strong
    Company:
  = @user.company
%p
  %strong
    Email:
  = mail_to @user.email
%p
  %strong
    Contact in Company:
  = @user.referrer
.clear
%h3 Rights  
%p
  %strong.left
    Active: 
  - if @user.active
    %span.tick.icon-only
      true
  - else
    %span.cross.icon-only
      false
.clear
%p
  %strong.left
    Can hotlink: 
  - if @user.can_hotlink
    %span.tick.icon-only
      true
  - else
    %span.cross.icon-only
      false
.clear
%p
  %strong.left
    Can change home: 
  - if @user.can_home
    %span.tick.icon-only
      true
  - else
    %span.cross.icon-only
      false
.clear
.actions
  = link_to "Change Password", user_password_path, :class => 'button edit' if params[:action] == 'me'
  - if current_user.is_admin
    = link_to "Edit User", edit_user_path(@user), :class=> 'button edituser'
.clear
  
%h3 Groups
- if @user.groups.empty?
  %p
    %em User doesn't belong to any groups
-else
  %ul
    - for group in @user.groups 
      %li
        = link_to group.name, group
      
%h3 Folders
- unless @user.accessible_folders_exc_groups.empty?
  %h4 Assigned to user
  %ul
    - for folder in @user.accessible_folders_exc_groups
      %li 
        =link_to folder.breadcrumbs, folder
- unless @user.groups.empty?
  %h4 Assigned from groups
  %ul
    - @user.groups.each do |group|
      %li
        = group.name
        %ul
          - group.folders.each do |folder|
            %li
              = link_to folder.breadcrumbs, folder
.clear