= form_for @asset, :html => {:multipart => true} do |f|
  = f.error_messages
  %p
    = f.label :uploaded_file, "File"
    %br
      = f.file_field :uploaded_file
  %p
    = f.hidden_field :folder_id
  .actions
    %p= f.submit "Upload", :class => 'button upload'