%h2.details.icon File Details
- if @canWrite
  = form_for @asset do |f|
    .field
      %strong= f.label :uploaded_file_file_name, 'Name'
      = f.text_field :uploaded_file_file_name
    %p.field
      %strong
        Created by: 
        = "#{@asset.user.first_name} #{@asset.user.last_name}"
    .field
      %strong= f.label :description
      = f.text_area :description, :rows => 4
    .field
      %strong= f.label :notes
      = f.text_area :notes, :rows => 4
    - if @asset.folder && current_user.is_admin
      .field
        = render (:partial => "folders/folderPermissions", :object => @asset)
        %p
          (Inherited from parent folder)
    .actions
      = f.submit 'Save', :class => 'button save'
      = link_to "Download", download_notasset_path(@asset), :class => 'button download'
      - if current_user.can_hotlink
        = link_to "Hotlink", new_hotlink_path(@asset), :class => 'button createLink'
- else
  %p
    %strong
      Name
  %p
    = @asset.uploaded_file_file_name
  -if !@asset.description.blank?     
    %p
      %strong
        Description
    %p
      = @asset.description
  -if !@asset.notes.blank?     
    %p
      %strong
        Notes
    %p
      = @asset.notes
    .actions
      = link_to "Download", download_notasset_path(@asset), :class => 'button download'
      - if current_user.can_hotlink
        = link_to "Hotlink", new_hotlink_path(@asset), :class => 'button createLink'