!!!
%html
  %head
    %title Railsbox
    = stylesheet_link_tag 'application','colorbox', 'screen'
    = yield :page_specific_head
    = csrf_meta_tag
    %meta{:charset => 'utf-8'}
  %body
    #wrapper
      - if current_user
        #top-menu
          %ul#actions-menu
            %li= link_to 'Home', root_url, :class=>'menu-item'
            - if current_user.is_admin
              %li= link_to 'Admin', admin_panel_url, :class=>'menu-item'
            %li= link_to 'My details', my_details_url, :class=>'menu-item'
            %li= link_to 'Logout', log_out_url, :id=>"logout", :class=>'menu-item'
          %ul#flash
            - flash.each do |name, msg|
              = content_tag :li, msg, :id => "flash_#{name}", :class=> 'menu-item' unless name == "error"
          #user-bar
            .left
              Logged in as 
              =current_user.email
            - unless current_user.is_admin?
              #user_disk_space
                .left
                  Space: 
                  %span#remaining
                    = number_to_human_size(current_user.space_used, :precision => 3)
                #disk-space
                  %a#used-space{:style => "width: #{current_user.space_percentage}%", :title => "#{number_to_human_size(current_user.space_remaining, :precision => 3)} remaining"}
                .left
                  = number_to_human_size(APP_CONFIG['user_disk_space'].to_i, :precision => 3)
      - end unless params[:controller] == 'sessions'
      #content{:class => "#{yield :contentClass}"}
        - if flash[:error]
          %p#error_message
            =flash[:error]
        = yield