!!!
%html
  %head
    %title Railsbox Login
    = stylesheet_link_tag 'application', 'login'
    = csrf_meta_tag
    %meta{:charset => 'utf-8'}
  %body
    #logon-box
      .logon-box-padder
        #logon-tabs
          %ul
            %li{:class => ("active" if self.controller_name == 'sessions' && self.action_name == 'new')}
              = link_to "Log in", log_in_path
            %li{:class => ("active" if self.controller_name == 'users' && (self.action_name == 'new' or self.action_name == 'create'))}
              = link_to "Sign up", sign_up_path
            %li{:class => ("active" if self.controller_name == 'users' && self.action_name == 'resetPassword')}
              = link_to "Reset Password", reset_password_path
            %li
              = link_to 'Help', '/documents/help.pdf'
        .clear
        #logon-main
          #logo_holder
            = render :partial=> '/shared/logo'
          #form-holder
            = yield
          .clear